.nav_menu {
	position: fixed;
	top: 0;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 120px;
	box-sizing: border-box;

	width: 100%;
	height: 90px;
	background-color: #fff;
	transition: height 0.3s ease-in-out;
}

.nav_menu .logo_wrapper {
	cursor: pointer;
}

.nav_menu .links_wrapper .link {
	text-decoration: none;
	color: #1b1a1a;
	font-size: 15px;
	line-height: 24;
	font-weight: 500;
	padding: 0 16px;
	cursor: pointer;
}

.nav_menu .links_wrapper #template.link {
	background-color: #1b1a1a;
	color: #fff;
	padding: 13px 16px;
	border-radius: 18px;
}
